# Client Data
first_name    = "My"
last_name     = "Name"
email_address = "my@name.com"
phone_number  = "15555555555"

# Credit Card
credit_card_number      = 123456789101112
credit_card_cvv         = 1314
credit_card_date        = "15/16"
credit_card_postal_code = "18192"

# Dominos Address
address_street      = "123 Main St"
address_city        = "Anytown"
address_region      = "WA"
address_postal_code = "02122"

# Dominos Menu Item
dominos_menu_item = ["philly", "medium"]